{% extends 'base.html' %}

{% block content%}

<h1>Calculator</h1>

<form action="add">
    Enter 1St value for x: <input type="text" name="num1"><br>
    Enter 2nd value for x: <input type="text" name="num2"><br>
    Enter 3rd value for x: <input type="text" name="num3"><br>
    Enter 4th value for x: <input type="text" name="num4"><br>
    Enter 5th value for x: <input type="text" name="num5"><br>
    Enter 6th value for x: <input type="text" name="num6"><br>
    Enter 7th value for x: <input type="text" name="num7"><br>
    Enter 8th value for x: <input type="text" name="num8"><br>   
    Enter 1St value for y: <input type="text" name="numy1"><br>
    Enter 2nd value for y: <input type="text" name="numy2"><br>
    Enter 3rd value for y: <input type="text" name="numy3"><br>
    Enter 4th value for y: <input type="text" name="numy4"><br>
    Enter 5th value for y: <input type="text" name="numy5"><br>
    Enter 6th value for y: <input type="text" name="numy6"><br>
    Enter 7th value for y: <input type="text" name="numy7"><br>
    Enter 8th value for y: <input type="text" name="numy8"><br> 
    <input type="submit">
</form>

{% endblock %}